#忽略的目錄
[Bb]in/
.vscode/
[Oo]bj/

#忽略的檔案
l1jloader.jar
l1jserver.jar
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds
